@import "../../App.scss";

$highlightColor: map-get($colors, "info");

.FoodCard-RightComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FoodCard-UnderstockText {
    background-color: $highlightColor;
    color: map-get($colors, "primary3");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-top: 4px;
}

.FoodCard-AdditionalText {
    border: 1px solid $highlightColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-left: 8px;
    color: $highlightColor;
}

.FoodCard-SmallInfo, .FoodCard-SmallInfo > * {
    color: $highlightColor;
}