@import "../../App.scss";

.Button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // flex: 1;
    left: 0;
    right: 0;
    // width: 100%;
    min-height: 48px;
    height: 48px;
    
}

.Button, .Button > * {
    color: white;
}

.Button-Disabled {
    opacity: 0.5;
    cursor: default;
}

@mixin ButtonClass($themeColor) {
    .Button-#{$themeColor} {
        background-color: map-get($colors, $themeColor);
    }
}

@include ButtonClass("primary");
@include ButtonClass("secondary");
@include ButtonClass("info");
