@import "../../App.scss";

$lower-card-overflow: 16px;



.SearchGroup-List > .FoodCard:not(:nth-child(1)) {

    margin-top: $lower-card-overflow * 2;
    margin-bottom: $lower-card-overflow * 2;
}

