@import "../../App.scss";

.FoodDetails-Container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.FoodDetails-TopSection {
    // flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.FoodDetails-BottomSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.FoodDetails-TopSection-TrendContainer {
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;   
    margin-bottom: 16px;   
}

.AuxInfo,
.AuxInfo > * {
    color: map-get($colors, "info");
}

.FoodDetails-TopSection-Title {
    font-size: 32px;
    // text-align: center;
}

.FoodDetails-TopSection-AuxInfoRow {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-content: space-between;
    
}
.FoodDetails-TopSection-ListInfoRow {
    display: flex;
    flex-direction: column;
}

.FoodDetails-TopSection-AuxInfoRow > .AuxInfo {
    // padding: 16px;
}

.AuxInfo > * {
    width: 100%;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.AuxInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.AuxInfo-Title {
    font-size: 10px;
    text-align: center;
    flex: 1;
}

.ListInfoItem-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 8px;
}

.ListInfoItem-Left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListInfoItem-Right,
.ListInfoItem-Right > * {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    padding-left: 8px;
}