@import "../../App.scss";

.ContainerPicker-Container {
    padding-left: 22px;
    padding-right: 22px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.ContainerPicker-FoodPreview {
    padding-top: 8px;
    background-color: map-get($colors, "primary2");
}

.ContainerPicker-AmountInputContainer {
    padding-bottom: 64px;
    flex: 1;
}

.ContainerPicker-SliderContainer {
    padding-left: 24px;
    padding-right: 24px;
}

.ContainerPicker-ButtonRow {
    display: flex;
    // to prevent the buttons to be seen through when the buttons are disabled
    background-color: map-get($colors, "primary2");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    div {
        flex: 1;
    }
}

.ContainerPicker-SelectedNotice {
    $highlightColors: map-get($colors, "info");

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        color: $highlightColors;
        border: 1px solid $highlightColors;
    }
    
}

.AmountInput-Container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.AmountInput-Label {
    margin-top: 8px;
    margin-bottom: 8px;
}

.AmountInput-Summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;   
    align-items: center;
}

.AmountInput-SummaryText {
    font-size: 24px;
    color: map-get($colors, "info");
    text-align: right;
    margin-left: 8px;
}

.PendingConsumption-Container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.PendingConsumptionCard-SmallComponent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;

    > * {
        margin: 4px;
    }
    // percentage change div
    :nth-child(1) {
        display: flex;
        align-items: center;
    }

    // the progress bar
    :nth-child(2) {
        min-width: 75%;
    }
}

.PendingConsumptionCard-DisposeLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, "info");
    color: map-get($colors, "primary2");
    padding-left: 4px;
    padding-right: 4px;
}