.Header {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    justify-content: space-between;
}

.Header, .Header > * {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

.Header-NavButtonGroup {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.Header-NavButton {
    padding-left: 12px;
}