@import "../../App.scss";

@mixin PercentageBarColor($color) {
    $animationDuration: 0.6s;
    $mainColor: map-get($colors, $color);
    .PercentageBar-#{$color} {
        flex: 1;
        display: grid;
        background-color: rgba(255, 255, 255, 0.3);
        height: 8px;
        margin-left: 8px;
        animation-iteration-count: 1;
        div {
            height: 8px;
        }

        // solid color bar indicating amount left
        :nth-child(1) {
            animation-name: percentageBar;
            animation-duration: $animationDuration;
            background-color: $mainColor;
        }
        
        // strip color bar indicated difference between amounts
        :nth-child(2) {
            animation-name: percentageBar;
            animation-delay: $animationDuration;
            animation-duration: $animationDuration;
            background: repeating-linear-gradient(
                -45deg,
                transparent,
                transparent 25%,
                $mainColor 25%,
                $mainColor 50%,
                transparent 50%
            ) top left fixed;
            background-size: 30px 30px;
        }
    }
}

@keyframes percentageBar {
    from {
        transform-origin: left;
        transform: scaleX(0);
    }
    
    to {
        transform-origin: left;
        transform: scaleX(1);
    }
}

@include PercentageBarColor("info");
@include PercentageBarColor("text");
@include PercentageBarColor("red");