
@import "../../App.scss";

.BuyPage-Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.BuyPage-Action {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}

.FoodQuantityInfo-Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}

.FoodQuantityInfo-Form {
    flex: 1;
    padding-left: 22px;
    padding-right: 22px;
    // to make the last row not be blocked by the buttons
    padding-bottom: 50px; 
}
.FoodQuantityInfo-ButtonRow {    
    display: flex;
    flex-direction: row;
    background-color: map-get($colors, "primary2");
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    .Button:nth-child(2) {
        // flex: 1;
        flex-direction: row-reverse;
        color: map-get($colors , "info");
        * {
            color: map-get($colors , "info");
        }
    }
}

.FoodQuantityInfo-Summary {
    height: 84px;
    display: 'flex';
    flex-direction: column;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: map-get($colors, "primary2");
}

.BuyPage-SummaryRow {
    background-color: map-get($colors, "primary2");
    height: 96px;
    z-index: 9999;
    padding-left: 16px;
    // padding-right: 16px;
    display: flex;
    flex-direction: row;
}

.BuyPage-SummaryRow-Total {
    text-align: right;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.BuyPage-SummaryRow-Sum {
    font-size: 24px;
    color: map-get($colors, "info");
}

.BuyPage-SummaryRow-Left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.BuyPage-PendingItemContainers {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}