
@import "../../App.scss";

.BuyPage-Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.BuyPage-Action {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}

.SelectFoodPopup-Container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: map-get($colors, "primary2");
}
.SelectFoodPopup-Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.StepIndicator-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
    margin-right: 22px;
    z-index: 99999;
};

.StepIndicator-StepComponent, .StepIndicator-StepComponent > .StepIndicator-Line {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

$passedColor: map-get($colors, "info");
$pendingColor: map-get($colors, "text");

.StepIndicator-Line {
    height: 4px;
    width: 100%;
}

.StepIndicator-StepComponent-passed > .StepIndicator-Line,
.StepIndicator-StepComponent-ongoing > .StepIndicator-Line:nth-child(1) {
    background-color: $passedColor;
}

.StepIndicator-StepComponent-pending > .StepIndicator-Line,
.StepIndicator-StepComponent-ongoing > .StepIndicator-Line {
    background-color: $pendingColor;
}

.StepIndicator-Center {
    height: 24px;
    width: 24px;
    // background-color: orange;
    border-radius: 72px;
    border-width: thick;
    margin-left: 4px;
    margin-right: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.StepIndicator-StepComponent-passed > .StepIndicator-Center {
    background-color: $passedColor;
    color: white;
}

.StepIndicator-StepComponent-ongoing > .StepIndicator-Center {
    border: 2px solid $passedColor;
    color: $passedColor;
}

.StepIndicator-StepComponent-pending > .StepIndicator-Center {
    border: 2px solid $pendingColor;
}

.FoodTypePicker-Container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.FoodQuantityInfo-Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}

.FoodQuantityInfo-Form {
    flex: 1;
    padding-left: 22px;
    padding-right: 22px;
    // to make the last row not be blocked by the buttons
    padding-bottom: 50px; 
}
.FoodQuantityInfo-ButtonRow {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;

    .Button {
        flex: 1;
    }
}

.FoodQuantityInfo-Summary {
    height: 84px;
    display: 'flex';
    flex-direction: column;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: map-get($colors, "primary2");
}

.BuyPage-SummaryRow {
    background-color: map-get($colors, "primary2");
    height: 96px;
    z-index: 9999;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
}

.BuyPage-SummaryRow-Total {
    text-align: right;
    
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.BuyPage-SummaryRow-Sum {
    font-size: 24px;
    color: map-get($colors, "info");
}

.BuyPage-SummaryRow-Left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}