@import "../../App.scss";


.NavBarContainer {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.NavIcon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: map-get($colors, "text");
}

.NavIcon-Active,
.NavIcon-Active > span {
    color: map-get($colors, "info");
}

.NavIcon-Container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}