$colors: (
  
  "primary": #506075,
  "primary2": #191919,
  "primary3": #303030,
  "secondary": #A0b7d8,
  "secondary2": #d5dce5,
  "info": rgb(245, 120, 2),
  "text": #cacfd6
);

h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

select {
  -webkit-appearance: none;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: map-get($colors, "primary2");

  display: flex;
  flex-direction: column;

}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Main-Container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 100%;
  // max-height: 100%;
  overflow-y: scroll;
}

.ToastContainer {
  background-color: green;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 16px;
  height: 72px;
  z-index: 999;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// disable number input spinning wheel
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  display: none;
}

// hide all scrollbars
* {
  scrollbar-width: none;
}
::-webkit-scrollbar { 
  display: none;
}